/*admin_custom.css*/

/* IMPORTAR FUENTE */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

/* --- GENERAL --- */
body {
    font-family: 'Poppins', sans-serif !important; 
    background-color: #faf6f2 !important;
    color: #333;
}

/* --- CABECERA SUPERIOR --- */
#header {
    background: #CD212A !important; /*!important es para que priorice esto si o si*/
    color: white;
    border-bottom: 4px solid #009246;
}

#branding h1 {
    font-size: 24px;
    font-weight: 600;
}

#branding h1 a:link, #branding h1 a:visited {
    color: #ffffff !important;
}

#user-tools, #user-tools a {
    color: #ffffff !important;
}

/* --- TÍTULOS DE SECCIONES  --- */
.module caption, .module h2 {
    background-color: #009246 !important;
    color: white !important;
    border-radius: 8px 8px 0 0; 
}

/* Breadcrumbs =  Inicio › Mammamia › Pizzas */
div.breadcrumbs {
    background-color: white;
    color: #333;
    border-bottom: 1px solid #ddd;
}

div.breadcrumbs a {
    color: #b32424 !important;
}

/* --- ENLACES GENERALES --- */
a:link, a:visited {
    color: #b32424;
    text-decoration: none;
}

a:hover {
    color: #d03b3b;
    text-decoration: underline;
}

/* --- BOTONES (Guardar, Añadir,) --- */
.button, input[type=submit], .submit-row input.default {
    background: #b32424 !important; /* Botón rojo */
    color: white !important;
    border: none;
    border-radius: 8px !important; /* Redondeado */
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}

.button:hover, input[type=submit]:hover {
    background: #7a0000 !important; /* Efecto hover oscuro */
}

.button.default {
    background: #009246 !important; /* Botón principal*/
}

/* --- TABLAS Y LISTAS --- */
#changelist table {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Sombra suave */
}

#changelist table thead th {
    background: #fdf5f3; /* Fondo rosado claro para cabeceras de tabla */
    color: #b32424;
}

#changelist .results {
    background-color: white; /* Fondo blanco en la lista */
    border-radius: 10px;
}

/* --- FORMULARIOS --- */
.form-row {
    border-bottom: 1px solid #eee;
    padding: 15px;
}

