{% load static %}
{% load i18n %} 

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mamma Mia 🍕{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'mama.css' %}">
</head>
<body>

<header>
 <div class="language-switcher">
        <form action="{% url 'set_language' %}" method="post">
            {% csrf_token %}
            <input name="next" type="hidden" value="{{ request.get_full_path }}">
            
            <select name="language" onchange="this.form.submit()">
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                
                {% for language in languages %}
                    <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                        {{ language.name_local|capfirst }}
                    </option>
                {% endfor %}
            </select>
        </form>
    </div>

    <h1>🍕 Mamma Mia</h1>
    <p>{% block subtitle %}{% trans "¡La mejor pizzería!" %}{% endblock %}</p>
</header>

<nav>
    <a href="{% url 'index' %}">🏠 {% trans "Inicio" %}</a>
    <a href="{% url 'todas_pizzas' %}">📋 {% trans "Pizzas" %}</a>
    <a href="{% url 'todas_masas' %}">🍞 {% trans "Masas" %}</a>
    <a href="{% url 'todos_ingredientes' %}">🧀 {% trans "Ingredientes" %}</a>
</nav>

<div class="contenedor">

    {% block content %}

    {% endblock %}

</div>

<footer>

    <p>© Mamma Mia 🍕</p>

</footer>

</body>
</html>