{% extends 'mammaMia/base.html' %}
{% load i18n %}

{% block title %}{% trans "Tipos de Masa" %} - Mamma Mia{% endblock %}

{% block subtitle %}{% trans "Nuestros tipos de masa disponibles" %}{% endblock %}

{% block content %}
    <h1>🍞 {% trans "Tipos de Masa" %}</h1>
    
    {% if masas %}
        <div class="contenedor">
            {% for masa in masas %}
            <div class="pizza">
                <div class="pizza-contenido">
                    <div class="pizza-info">
                        <a href="{% url 'detalleMasa' masa.pk %}" class="pizza-link"></a>
                            <h2>{{ masa.nombre }}</h2>
                        </a>
                        <p>{{ masa.descripcion|truncatewords:20 }}</p>
                    </div>

                    <div class="pizza-imagen">
                        {% if masa.imagen %}
                            <img src="{{ masa.imagen.url }}" alt="{{ masa.nombre }}">
                        {% else %}
                            <p>{% trans "Sin imagen disponible" %}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    {% else %}
        <p>{% trans "No hay tipos de masa disponibles." %}</p>
    {% endif %}
{% endblock %}